@page "/"
@using CleanArchitecture.Orders.Application.Services

@inject ApplicationService applicationService

<PageTitle>Home</PageTitle>

<h1>
    Hello, world!
    <br />
    @applicationService.GetSeconds()   
</h1>

Welcome to your new app.

